@import "tailwindcss";

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

:root {
  background-color: #09090b;
  color: #f4f4f5;
}

body {
  background-color: #09090b;
}